* {
    overflow: hidden;
}

.scroll-content {
    padding: 0 !important;
}

.toolbar-background {
    border-color: transparent;
    background: transparent;
}

.bar-button-default-md {
        color:#fff;
}

.vertical-middle {
    // position: absolute;
    // height: auto;
    // top: 50%;
    // left: 50%;
    // width: calc(100% - 32px);
    // -webkit-transform: translate(-50%, -50%);
    // -moz-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    // -o-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.relative {
    position: relative;
}

.show-minute {
    position: relative;
    z-index: 10;

    & .timer {
        display: flex;
        // letter-spacing: .5rem;
        position: relative;
        font-size: 8rem;
        font-weight: 600;
        padding: 0;
        margin: 0;

        & div {}

        & .time {
            letter-spacing: .5rem;            
        }
        & .colon {
            letter-spacing: .5rem;
        }
        & .colon:after {
            content: " \3a ";
            top: -0.1em;
            position: relative;
        }
        &.red {
            color: #ff0000;
        }
        &.green {
            color: green;
        }
       
    }
}

.reset-timer {
    color: #fff;
    font-size: 1.5em;
    background-color: transparent;
    border:0 none;
    // background-color: red;
    z-index: 10000;
    border: none 0;
    position: absolute;
    bottom: 3em;
    left: 50%;
    transform: translate(-50%, 0);
}

.reset-timer.last5 {
        // color: #000;
}

.background-green {
     background-color: green !important;
}

.background-yellow {
    background-color: yellow !important;
}

.white {
    color: #fff;
} 

.black {
    color: #000;
} 

@media screen and (max-width:768px) and (min-width:420px) {
    .show-minute {
        & .timer {
            font-size: 8rem;
        }
    }
}

@media screen and (max-width:420px) {
    .show-minute {
        & .timer {
            font-size: calc(100vw / 8);
            font-size: 8rem;
        }
    }
}

@media screen and (orientation:landscape) {
    .show-minute {
        & .timer {
            font-size: 16rem;
        }
    }
}

.home {
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.infinite {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@import "animate";